.video {
	padding: 16px 12px 12px 12px;
	border-bottom: 1px solid #dcdcdc;

	.thumbnail-container {
		position: relative;
		padding-bottom: 56.25%;
	}

	.thumbnail {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-position: center;
		background-size: cover;
	}

	.details-container {
		display: flex;
		margin-top: 12px;

		img {
			min-width: 40px;
			min-height: 40px;
			max-width: 40px;
			max-height: 40px;
			border-radius: 100%;
			margin-right: 12px;
		}
	}

	.details {
		font-size: 14px;

		ul {
			list-style-type: none;
		}

		li {
			display: inline-block;
			font-size: 12px;
			margin: 0 2px;

			&:after {
				content: " \002022  ";
			}

			&:last-child:after {
				content: "";
			}
		}
	}
}
