* {
	box-sizing: border-box;
}

html {
	overflow: hidden;
	height: 100%;
}

body {
	margin: 0;
	overflow: auto;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}

.content {
	padding-top: 64px;
	padding-bottom: 57px;
}
